* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

/* .logo-h1 {
    color: white;
    font-weight: 900;
    background-color: rgb(35, 96, 9);
    padding: 5px ;
    margin: 10px;
    border-radius: 5px;
} */



header {
    background-color: rgb(4, 170, 253);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;

}
header img {
    border-radius: 100px;
    width: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.header-btn {
    border: none;
    background-color: white;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer ;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
}

.navbar li {
    margin: 0px 15px;
}

.navbar {
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}

.product-list {
    padding: 2rem;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    justify-content: center;
    padding: 0  1rem;
    
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.5s;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.product-card img {
    max-width: 100%;
    border-radius: 100px;
}

.about-section {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: justify;
}

.about-section h2 {
    text-align: center;
}

.about-section p {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    font-weight: bold;
}

.contact-form input, .contact-form textarea, .contact-form button {
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
}

.contact-section {
    padding: 2rem;
    text-align: center;
}

.contact-form button {
    background-color: rgb(4,140,213);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;

}

.contact-form button:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.footer-links a {
    color: rgb(4, 140, 213);
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    
    text-decoration: underline;
    color: white;
}

.fa-facebook {
    background-color: white;
    padding: 3px 0px;
    color: blue;
    font-size: 18px;
    border-radius: 5px;
}

.fa-instagram {
    color: white;
    border-radius: 5px;
    padding: 3px 0px;
    background: linear-gradient(
        45deg,
        #405de6, /* Blue*/
        #5851db, /* Darker blue/ perpule */
        #833ab4, /* purple*/
        #c13584, /* megenta*/
        #e1306c, /* red orange*/
        #fd1d1d  /* red*/
    );
}

.fa-youtube {
    background-color: white;
    padding: 3px 0px;
    color: red;
    font-size: 18px;
    border-radius: 5px;
}

.fa-x-twitter {
    background-color: white;
    padding: 3px;
    color: black;
    font-size: 18px;
    border-radius: 5px;
}

.footer-links-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}